/* montserrat-regular - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
  margin: 0 auto;
}
body{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

.wrapper{
  height: 3000px;
}
.header{
  height: 1600px;
  position: relative;
  display: block;
  background-color: #724daf;
  background: linear-gradient(to bottom, #724daf, #ffffff);
}
.header__container{
  height: 1500px;
  /*background-color: #292442;*/
  display: block;
  background-image: url('image1.png');
  
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 600px;

}
.header__h1{
  color: white;
  letter-spacing: 15px;
  font-size: 75px;
  text-align: center;
  padding-top: 100px;
}
.header__p{
  color: #ccccfe;
  letter-spacing: 3px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
}
.header__about{
  width: 90%;
  padding: 50px 50px ;
  box-sizing: border-box;
  background-position: center center;
background-color: rgba(255, 255, 255, 0.6);
/*  background-color: white;*/
  font-weight: normal;
  border-radius: 200px;

  border: solid 3px white;
}
.header_ul{
  text-align: left;
  color: white;
  opacity: 1;
  background-color: transparent;
  list-style-type: circle;
  font-size: 21px;
  color: white;
}

.btn{
  display: block;
  width: 300px;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

svg rect{
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: 20px 260px 40px 40px 40px 260px 40px 40px;
  width: 100%;
  height: 100%;
  transition: .5s all;
}


.btn:hover rect{
  stroke-dasharray: 200px 0 70px 0 200px 0 70px 0;
}

.btn2{
  margin-top: 40px;
  display: block;
  width: 320px;
  height: 90px;
  line-height: 90px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  border-radius: 50px;
  background-color: #01ffff;
  box-shadow: 5px 5px 25px 2px #01ffff;
}
.btn2--color1{
  background-color: #39182d;
  box-shadow: 5px 5px 25px 2px #39182d;
}
.btn2--color2{
  background-color: #513998;
  box-shadow: 5px 5px 25px 2px #513998;
}
.btn2--color3{
  background-color: #6b33c0;
  box-shadow: 5px 5px 25px 2px #6b33c0;
}
.btn2--color4{
  background-color: #944ca0;
  box-shadow: 5px 5px 25px 2px #944ca0;
}

.btn2:hover{
  background-color: #01ffff;
  box-shadow: 5px 5px 25px 2px #01ffff;
}

.block-2{
  width: 100%;
  padding-bottom: 6%;
}
.block-2-content{
  padding-top: 8%;
  margin-left: 10%;
  width: 80%;
  display: inline-flex;
  text-align: center;
}

.block-2-content div{
  justify-content: space-between;
  width: 60%;
}
.block-2-img{
  font-size: 28px;
  font-weight: bold;
  color: black;
  line-height: 50px;
}
.block-2-img img{
  width: 50%;
    border-radius: 200px;
}
.bloc-2-txt{
  font-size: 22px;
  font-weight: normal;
  line-height: 40px;
  text-align: left;
}
.bloc-2--name{
  font-size: 28px;
  font-weight: bold;
}
.block0{
  position: relative;
  display: inline-flex;
  margin-top: 200px;
  margin: 0 auto;
  width: 70%;
  text-align:justify;
}
h2{
  text-align: center;
  font-size: 55px;
}
.about{
  font-size: 22px;
  padding-top: 40px;
  padding-bottom: 100px;
  text-align:justify;
}
.block2{
  position: relative;
  display: block;
  margin-top: 150px;
  padding: 100px;
  background-color: #1a1710;
  box-shadow: 0px 0px 25px 2px #01ffff;
}
.block2 p{
  width: 80%;
}

.block3{
  height: 600px;
  position: relative;
  display: block;
  background-color: #724daf;
  background: #724daf;
  padding-top: 15%;
}
.block3-txt{
  padding-top: 3%;
  width: 80%;
  text-align: justify ;
}


@media screen and (max-width: 1200px) {
  .block1{
    flex-direction: column;
    margin-top: 20px;
  }
  .block-2-content{
    flex-direction: column;
  }
  .bloc-2-txt{
    padding-top: 40px;
  }
  .bloc-2--name{
    text-align: center;
  }
  .block3-txt{
    width: 60%;
  }
