/* montserrat-regular - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - cyrillic-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('fonts/montserrat-v14-cyrillic-ext_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v14-cyrillic-ext_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*{
	margin: 0 auto;
}
body{
  	font-family: 'Montserrat';
  	font-style: normal;
  	font-size: 16px;
  	line-height: 1.2;
  	font-weight: normal;
  	color: black;
}

.wrapper{
	height: 3000px;
}
.header{
	height: 600px;
	position: relative;
	display: block;
}
.header__end{
	height: 135px;
	position: relative;
	margin-top: 40px;
}
.header__end:before, 
.header__end:after {
content: "";
height: 100%; 
width: 50%;
position: absolute; 
top: 0;
background: #292442;

}
.header__end:before {
left: 0;
transform: skew(0deg, -5deg);
box-shadow: 5px 10px 25px 2px #292442;
}
.header__end:after {
right: 0;
transform: skew(0deg, 5deg);
box-shadow: 5px 10px 25px 2px #292442;
}
.header__container{
	height: 600px;
	background-color: #292442;
	display: block;
}
.header__h1{
	color: #ccccfe;
	letter-spacing: 15px;
	font-size: 75px;
	text-align: center;
	padding-top: 100px;
}
.header__p{
	color: #ccccfe;
	letter-spacing: 3px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 60px;
}
.btn{
  display: block;
  width: 300px;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

svg rect{
  fill: transparent;
  stroke: black;
  stroke-width: 5px;
  stroke-dasharray: 20px 260px 40px 40px 40px 260px 40px 40px;
  width: 100%;
  height: 100%;
  transition: .5s all;
}


.btn:hover rect{
  stroke-dasharray: 200px 0 70px 0 200px 0 70px 0;
}

.btn2{
	margin-top: 40px;
  display: block;
  width: 320px;
  height: 90px;
  line-height: 90px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  border-radius: 50px;
  background-color: #01ffff;
  box-shadow: 5px 5px 25px 2px #01ffff;
}

.btn2:hover{
	background-color: #01ffff;
  box-shadow: 5px 5px 25px 2px #01ffff;
}

.block1{
	position: relative;
	display: block;
	margin-top: 200px;
	width: 70%;
	text-align:justify;
}
h2{
	text-align: center;
	font-size: 55px;
}
.about{
	font-size: 22px;
	padding-top: 40px;
	padding-bottom: 100px;
	text-align:justify;
}
.block2{
	position: relative;
	display: block;
	margin-top: 150px;
	padding: 100px;
	background-color: #1a1710;
	box-shadow: 0px 0px 25px 2px #01ffff;
}
.block2 p{
	width: 80%;
}